_build/jupyter_execute/**/*.ipynb filter=lfs diff=lfs merge=lfs -text
_build/.doctrees/**/*.doctree filter=lfs diff=lfs merge=lfs -text
_build/.doctrees/environment.pickle filter=lfs diff=lfs merge=lfs -text
_build/.jupyter_cache/executed/**/*.ipynb filter=lfs diff=lfs merge=lfs -text
_build/html/**/*.html filter=lfs diff=lfs merge=lfs -text
_build/html/_sources/**/*.ipynb filter=lfs diff=lfs merge=lfs -text
05-superposition/*.ipynb filter=lfs diff=lfs merge=lfs -text
